<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{webroot/view/priv/layout/main_layout.html}">
<head>
    <title>Product</title>
</head>
<body>
<ul class="nav flex-column" layout:fragment="menu">
    <li class="nav-item">
        <a href="/menu/dashboard" class="nav-link"><i class="mdi mdi-monitor"></i> Dashboard</a>
    </li>
    <li class="nav-item">
        <a href="/menu/product" class="nav-link active"><i class="mdi mdi-lead-pencil"></i> Product</a>
    </li>
    <li class="nav-item">
        <a href="/menu/report" class="nav-link"><i class="mdi mdi-table"></i> Report</a>
    </li>
</ul>

<div class="container" layout:fragment="content">
    <div class="content-header mt-2 mb-3">
        <h2 class="text-header">Add Product</h2>
    </div>
    <div class="alert alert-danger">
        This template is under maintenance!
    </div>
    <div class="row mb-3 basic">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <label class="title-body">From Product</label>
                    <form action="/menu/save-product" method="post">
                        <div class="form-group">
                            <label for="name-b">Product Name</label>
                            <input type="text" class="form-control" name="product_name" id="name-b" placeholder="ex: iPhone Xs">
                        </div>
                        <div class="form-group">
                            <label for="cost-b">Price</label>
                            <input type="number" class="form-control" name="price" id="cost-b" placeholder="Cost ex: $5">
                        </div>
                        <div class="form-group">
                            <label>Condition</label>
                            <div class="d-flex radio-b">
                                <label for="condition-a">
                                    <input type="radio" class="radio-input" name="condition" id="condition-a" value="new"><label class="rc-label" for="condition-a"></label> New
                                </label>
                                <label for="condition-b" class="ml-5">
                                    <input type="radio" class="radio-input" name="condition" id="condition-b" value="used"><label class="rc-label" for="condition-b"></label> Used
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="qty">Quantity</label>
                            <input type="number" class="form-control" id="qty" name="quantity" placeholder="Quantity ex: 10">
                        </div>
                        <div class="form-group">
                            <label for="total-b">Total Cost</label>
                            <input type="number" name="total_cost" class="form-control" id="total-b" placeholder="Sum Cost ex: 50" readonly>
                        </div>
                        <button type="submit" class="btn btn-water-mid">Submit</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="additional-script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $("#cost-b").keyup(function(){
                var price = $("#cost-b").val();
                var qty = $("#qty").val();
                var total;
                if (qty == "" || qty == null){
                    qty = 0;
                }

                total = price * qty;

                $("#total-b").val(total);
            })

            $("#qty").keyup(function(){
                var price = $("#cost-b").val();
                var qty = $("#qty").val();
                var total;
                if (price == "" || price == null){
                    price = 0;
                }

                total = price * qty;

                $("#total-b").val(total);
            })
        });
    </script>
</th:block>

</body>
</html>